<div class="animated fadeIn">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-align-justify"></i> Thông tin đơn hàng
                </div>
                <div class="card-body">
                    <input type="text" id="name" name="name" class="form-control" placeholder="{{Detail.name}}" disabled>
                    <input type="tel" id="phone" name="phone" class="form-control" placeholder="{{Detail.phone}}" disabled>
                    <input type="text" id="addr" name="addr" class="form-control" placeholder="{{Detail.addr}}" disabled>
                    <input type="number" id="total" name="total" class="form-control" placeholder="{{Detail.total_mn}}" disabled>
                    <table class="table table-bordered table-striped table-sm dynamic">
                        <thead>
                            <tr>
                                <th>Tên</th>
                                <th>Số lượng</th>
                                <th>Giá bán</th>
                                <th>Thành tiền</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of ItemList">
                                <td data-label="Tên">{{item.name}}</td>
                                <td data-label="Số lượng">{{item.quantity}}</td>
                                <td data-label="Giá bán">{{item.sale_price}}</td>
                                <td data-label="Thành tiền">{{item.sale_price * item.quantity}}</td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="container-fluid">
                        <div>
                            <!-- <div class="float-left">
                                <ul class="pagination">
                                    <li (click)="onPageClick(Page - 1)" class="page-item"><a class="page-link">&lt;</a></li>

                                    <li *ngFor="let page of PageArray" (click)="onPageClick(page)" class="page-item" [ngClass]="{active: page===Page}">
                                        <a class="page-link">{{page}}</a>
                                    </li>

                                    <li (click)="onPageClick(Page+1)" class="page-item"><a class="page-link">&gt;</a></li>
                                </ul>
                            </div> -->
                            <div class="float-right mt-3">
                                <button type="button" (click)="onBackButtonClick()" class="btn btn-primary px-4">Quay lại</button>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        <!--/.col-->
      </div>
  
  </div>
  